*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--color-white);
  background-color: var(--color-dark);
  font-weight: 500;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
