@use '../util' as u;

.btn {
  display: inline-flex;
  align-items: center;
  border: 1px solid;
  font-weight: 500;
  border-radius: 50px;
  outline: 0;
  cursor: pointer;
  text-wrap: nowrap;
  justify-content: center;
  &--primary {
    height: 29px;
    font-size: u.rem(10);
    @include u.breakpoint(medium) {
      height: 34px;
      font-size: u.rem(14);
    }
    padding-inline: 16px;
  }
  &--secondary {
    height: 33px;
    width: 120px;
    font-size: u.rem(14);
    @include u.breakpoint(medium) {
      height: 37px;
      width: 160px;
      font-size: u.rem(16);
    }
  }
  &--three {
    height: 31px;
    padding-inline: 15px;
    font-size: u.rem(12);
  }

  &--dark {
    color: var(--c-white);
    background-color: var(--c-black);
    border-color: var(--c-grey);
    &-active {
      color: var(--c-black);
      background-color: var(--c-white);
      border-color: var(--c-white);
    }
  }
  &--orange {
    color: var(--c-black);
    background-color: var(--c-orange);
    border-color: var(--c-orange);
  }
  &--transparent {
    background: none;
    color: var(--c-white);
    border-color: var(--c-white);
  }
}
