@use '../util/' as u;

.header {
  width: min(100% - 32px, u.rem(1400));
  margin-inline: auto;
  padding-block: 36px 26px;
  @include u.breakpoint(large) {
    padding-block: 15px 19px;
    display: flex;
    align-items: center;
  }
  &__nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 48px;
    @include u.breakpoint(large) {
      width: 70px;
    }
  }
  &__button {
    @include u.breakpoint(large) {
      display: none;
    }
  }

  &__nav-main {
    display: none;
    padding-block-start: 26px;
    &.show-nav {
      display: block;
    }
    @include u.breakpoint(large) {
      display: flex;
      justify-content: space-between;
      flex: 1;
      margin-inline-start: 30px;
      padding-block-start: 0;
      &.show-nav {
        display: flex;
      }
    }
  }
  &__nav {
    @include u.breakpoint(large) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 78px;
    }
  }
  &__nav-list {
    display: grid;
    row-gap: 14px;
    justify-items: center;
    margin-block-end: 14px;
    @include u.breakpoint(large) {
      display: flex;
      column-gap: 24px;
      align-items: center;
      text-align: center;
      margin-block-end: 0;
    }
  }
  &__auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 14px;
    text-align: center;
  }
  &__link {
    font-size: u.rem(14);
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  &__button {
    background: transparent;
    outline: none;
    border: 0;
    border-radius: 4px;
    padding: 0;
    &:focus {
      border: 2px solid var(--c-white);
    }
    &:hover {
      background: hsla(240, 1%, 34%, 0.5);
    }
    & .line {
      transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
      transform-origin: center;
      fill: var(--c-white);
    }
    &.show-nav .line {
      transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
    }

    &.show-nav :is(.top, .bottom) {
      y: 47;
    }
    &.show-nav .top {
      rotate: 45deg;
    }
    &.show-nav .middle {
      opacity: 0;
    }
    &.show-nav .bottom {
      rotate: -45deg;
    }
  }
}
